<div class="tic-tac-toe-rules-container">
		<p>Draw the board with the help of Grid Creation System...</p>
		<p>Have the first player go first. ...</p>
		<p>Have the second player go second. ...</p>
		<p>Keep alternating moves until one of the players has drawn a row of three symbols or until no one can win. ...Keep practicing.</p>
</div>