@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import "index-route-style.scss";
@import "tic-tac-toe-rules.scss";
@import "game-panel.scss";
@import "fire-works.scss";

body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    height: 100%;
}